@import url(http://fonts.googleapis.com/css?family=Roboto:500,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

$blue-grey: #435757;

html, body {
    min-height: 100%;
}

body {
    padding: 40px 20px 0 20px;
    color: $blue-grey;
    background: linear-gradient(-20deg, #ff6666, #ff9966);
    font: 500 1.2em 'Roboto', sans-serif;
}

.todo-container {
    max-width: 450px;
    margin: 0 auto;
    background-color: rgba(255,255,255,.2);
    font-size: 4vm;
    text-align: center;
    
    h1 {
        border-top: 5px solid $blue-grey;
        border-bottom: 5px solid $blue-grey;
        margin: 0;
        padding: 20px;
        background-color: rgba(255,255,255,.4);
        font-size: 5vw;
        text-align: center;
        
        @media screen and (min-width: 1100px) {
            font-size: 40px;
        }
    }
    
    .items {
        display: flex;
        flex-direction: column;
        padding: 20px;
        counter-reset: total-items;
    }
    
    h2 {
        position: relative;
        margin: 0;
        padding: 10px 0;
        font-size: 4vw;
        
        @media screen and (min-width: 1100px) {
            font-size: 30px;
        }
        
        @media screen and (max-width: 500px) {
            font-size: 20px;
        }
    }
    
    h2:last-child {
        margin-top: 50px;
    }
    
    h2::before {
        content: "";
        display: block;
        position: absolute;
        top: 10px;
        bottom: 10px;
        left: -20px;
        width: 5px;
        background-color: $blue-grey;
    }
    
    h2::after {
        display: block;
        float: right;
        font-weight: normal;
        
        content: " (" counter(total-items) ") ";
    }
    
    input[type="checkbox"] {
        display: block;
        height: 53px;
        margin: 0 0 -53px -9999px;
        outline: none;
        counter-increment: total-items;
    }
    
    label {
        display: block;
        position: relative;
        padding: 15px 0 15px 45px;
        border-top: 1px dashed #FFF;
        cursor: pointer;
    }
    
    label::before {
        content: "\f096";
        display: block;
        position: absolute;
        top: 11px;
        left: 10px;
        font: 1.5em "FontAwesome";
    }
    
    label:hover, input[type="checkbox"]:focus + label {
        background-color: rgba(255,255,255,.2);
    }
    
    input[type="checkbox"]:checked + label::before {
        content: "\f14a";
    }
    
    input[type="text"] {
        background: none;
        border: 2px solid $blue-grey;
        
        font: 500 1.2em 'Roboto', sans-serif;
        color: $blue-grey;
        
        margin: 10px 0;
        padding: 5px;
    }
    
    .actions {
        width: 100%;
        margin-top: 25px;
        display: flex;
    }
    
    button {
        background: rgba(255,255,255,.4);
        border: none;
        font: 500 1.2em 'Roboto', sans-serif;
        color: $blue-grey;
        cursor: pointer;
        padding: 5px;
        margin: 5px;
        flex-grow: 1;
    }
}